<div class="content">
    <slot/>
</div>

<style>
    .content {
        font-family: "Ibm Plex Mono", monospace;
        border: var(--terminal-border);
        border-radius: .75rem;
        background: var(--terminal-bg-color);
        padding: .75rem 1rem;
        height: 100%;
    }
</style>
