---
import ShellCommand from './shell_command.astro'
---

<div id="quickstart" class="hide">
    <div class="unix instructions">
        <h3>Install on Linux or OSX</h3>
        <div style="display:inline-block">
            <ShellCommand>curl -fsSL https://maestro.eighty4.tech/install.sh | sh</ShellCommand>
        </div>
        <p>
            The <a class="fancy" href="https://github.com/eighty4/maestro/blob/main/www/public/install.sh">script</a>
            installs from <a class="fancy" href="https://github.com/eighty4/maestro/releases/latest">GitHub releases</a>.
        </p>
    </div>
    <div class="windows instructions">
        <h3>Install on Windows</h3>
        <p>
            Windows ARM and Intel binaries are published to
            <a class="fancy" href="https://github.com/eighty4/maestro/releases/latest">GitHub releases</a>.
        </p>
    </div>
    <div class="instructions">
        <h3>Install from source with go</h3>
        <div style="display:inline-block">
            <ShellCommand>go install github.com/eighty4/maestro@latest</ShellCommand>
        </div>
    </div>
</div>

<script>
    const unixBased = !(navigator?.userAgentData?.platform || navigator.platform)
        .toLowerCase()
        .startsWith('win')
    const quickstart = document.getElementById('quickstart')!
    quickstart.querySelector(`.instructions.${unixBased ? 'windows' : 'unix'}`)!.remove()
    quickstart.classList.remove('hide')
</script>

<style>
    #quickstart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .hide .instructions {
        display: none;
    }

    .instructions {
        width: 42rem;
    }

    .instructions h3 {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    .instructions h3, .instructions p {
        margin: 1.5rem 0;
    }
</style>
